<h1>Your Cart</h1>
<% if @cart.empty? %>
  <p>Your cart is currently empty</p>
<% else %>
  <%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>

<% total = 0 %>

<table class="Cart">
<tr>
  <th id="cart_name">Name</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Sum</th>
</tr>

<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id)%>
 
  <tr>
    <td><%= link_to product.name, product%></td>
    <td><%= number_to_currency(product.price, unit: 'грн.', format: '%n %u') %></td>
    <td><%= quantity%></td>
    <td><%= number_to_currency(quantity * product.price, unit: 'грн.', format: '%n %u')%></td>
  </tr>
  <% total += quantity * product.price %>

<% end %>

<tfoot>
  <tr>
    <td colspan="3" id="cart_total">Total:</td>
    <td>
      <b><%= number_to_currency(total, unit: 'грн.', format: '%n %u')%></b>
    </td>
  </tr>
</tfoot>
</table>
