<h1>Your Cart</h1>
<% if @cart.empty? %>
  <p>Your cart is currently empty</p>
<% else %>
  <%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>

<% total = 0 %>

<table class="Cart">
<tr>
  <th>Image</th>
  <th id="cart_name">Name</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Sum</th>
</tr>

<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id)%>
  <% unless  product.nil? %>
  <tr>
    <td><%= image_tag(product.image.url(:thumb))%></td>
    <td><%= link_to product.name, product%></td>
    <td><%= number_to_currency(product.price, unit: 'USD', format: '%u%n') %></td>
    <td><%= quantity%></td>
    <td><%= number_to_currency(quantity * product.price, unit: 'USD', format: '%u%n')%></td>
  </tr>
  <% total += quantity * product.price %>
  <% end %>

<% end %>

<tfoot>
  <tr>
    <td colspan="4" id="cart_total">Total:</td>
    <td>
      <b><%= number_to_currency(total, unit: 'USD', format: '%u%n')%></b>
    </td>
  </tr>
</tfoot>
</table>
