<h2>Edit product</h2>

<%= form_for @item do |f| %>

	<p>Product name:<br/><%= f.text_field :name %></p>
	<p>Product price:<br/><%= f.text_field :price %></p>
	<p>Quantity:<br/><%= f.text_field :count %></p>

	<p><%= f.submit "Edit product" %></p>

<% end %>