<div class="product_sequence">
	<ul>
	<% @category_seq.each do |c|%>
		<%= " > "if c.id != 1 %>
		<li> <%= link_to "#{c.name}", products_path(category: c.id) %></li>
	<% end %>
	</ul>
</div>

<aside class="left-side">
<!--  Just a wireframe -->
	<h3>Categories</h3>
	<ul>
		<% @categories.each do |c| %>
			<li> <%=  link_to "#{c.name}", products_path(category: c.id) %> </li>
		<% end %>
	</ul>

</aside>
<h2> Goods </h2>

<div id="product_list">
	<%= render "product" %>
</div>

<div id="paginator">
	<%= paginate @items, remote: true %>
</div>


