<!DOCTYPE html>
<html>
<head>
  <title>Shop One</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

<header class="navbar">
  <div class="navbar-inner">
    <nav>
      <ul class="nav navbar-nav pull-left">
        <li><%= link_to "About", '/main/index' %></li>
        <li><%= link_to "Store", '/products' %></li>
        <li><%= link_to "New item", '/products/new' %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Admin", admin_users_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
        <li><%= link_to "Cart", '#' %></li>
      </ul>
    </nav>
    <div class="center">
      <h1><b>SHOP ONE</b></h1>
      <h2>You can find here all what you want</h2>
    </div>
  </div>
</header>

<div class="center">
  <div class="main_field">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>

  <%= yield %>

  </div>

</div>

<footer class="ftr">
  <p>Designed by <%= link_to "RubySquad", "#"%></p>
</footer>

</body>
</html>
