<!DOCTYPE html>
<html>
<head>
  <title>Shop One</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

<header class="navbar">
  <div class="navbar-inner">
  
      <ul class="nav navbar-nav pull-left">
<!--        <li><-#%= link_to "О нас", '/main/index' %-></li>    -->
        <li><%= link_to "Склад", '/products' %></li>
        <% if can? :create, @product %>
          <li><%= link_to "Новый продукт", new_product_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>

        <% if current_user && current_user.admin? %>
          <li><%= link_to "Панель администратора", admin_users_path %></li>
        <%else%>
          <li><%= link_to "Личный кабинет", edit_user_registration_path %></li>
        <% end %>

          <li><%= link_to "Выйти", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Зарегистрироваться", new_user_registration_path %></li>          
          <li><%= link_to "Войти", new_user_session_path %></li>
        <% end %>
        <% if current_user && current_user.user? %>
          <li><%= link_to "Корзина", cart_path %></li>
        <% end %>
      </ul>

      <p class="placeholder nav"></p>
    <div class="center">
      <h1><b>SHOP ONE</b></h1>
    </div>
  </div>
</header>

<div class="main_field center">

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

<%= yield %>

</div>


<footer class="ftr">
  <p>Designed by <%= link_to "RubySquad", "https://github.com/RubySquad"%></p>
  <p>
    <% if current_user && current_user.admin? %>
      <%= link_to "Панель администратора", admin_users_path %>
    <% end %>
  </p>
</footer>

</body>
</html>
